<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title><%=title %></title>
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--
afflatus, a free CSS web template by ZyPOP (zypopwebtemplates.com/)

Download: http://zypopwebtemplates.com/

License: Creative Commons Attribution
//-->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body>
    <%include partials/page/header.ejs %>
		<section id="body" class="width clear">
      <% include partials/page/navigation.ejs %>

			<section id="content" class="column-right">

        	    <article>

                <h2>The Delhi Sultanate</h2></br>
                <ul>
                  <li><p> Five dynasties ruled over the Delhi Sultanate sequentially: the Mamluk dynasty (1206–90), the Khilji dynasty
                          (1290–1320),the Tughlaq dynasty (1320–1414), the Sayyid dynasty (1414–51) and the Lodi dynasty (1451–1526).</p></li>
                  <li><p> Three dynasties (Mamluk, Khilji and Sayyid) were of Turkic origin, one dynasty (Tughlaq) was of Turko-Indian
                    origin and the last dynasty (Lodi) was of Pathan origin. </p ></li>
                  <li><p> The sultanate is noted for being one of the few states to repel an attack by the Mongol Empire, and enthroned one
                    of the few female rulers in Islamic history, Razia Sultana, who reigned from 1236 to 1240.</li></p>
                </ul>
              </article>
              </section>

              </section>

              <%include partials/page/footer.ejs %>
              <%include partials/page/navigation-js.ejs %>
              </body>
              </html>
