<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title><%=title %></title>
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>
      <%include partials/page/header.ejs %>
  		<section id="body" class="width clear">
        <% include partials/page/navigation.ejs %>

  			<section id="content" class="column-right">

    	    <article>


    			<h2>The Invaders</h2>
			    <p> Our study of Medieval India begins with our study about two major invaders of early medieval India: Mahmud of Ghazni and Muhammad Ghori.</p>
          <h2> Mahmud of Ghazni</h2><br>
          <ul>
            <li><p>Ghazni was a small kingdom in Afghanistan, which was founded by a Turkish nobleman in the tenth century.
              One of its successors, namely Mahmud wanted to make Ghazni into a big and powerful kingdom; therefore, he decided to conquer a part of Central Asia.</p ></li>
            <img src='/images/ghazni.jpg' align='right'>
            <li><p>In order to do so he needed a large army and to support his army he decided to raid India, the land of Gold, for its wealth.</p></li>
            <li><p>The first raid of Mahmud began in A.D. 1,000. In a short period of twenty-five years, Mahmud made seventeen raids. Meanwhile, he fought battles in Central Asia and in Afghanistan as well.</p></  li>
            <li><p>Between A.D. 1,010 and 1025, Mahmud attacked only on the temple towns in northern India, as he had heard that there were much gold and jewelry kept in the big temples in India.</p></li>
            <li><p>One of these attacks, which is frequently mentioned while discussing Medieval History, was the destruction of the Somnath temple located in western India.</p></li>
            <li><p>In 1,030, Mahmud died and the people of northern India get relieved. Though Mahmud was destructor for the Indians, but in his own country, he was a builder of a beautiful mosque and a large library</p></li>
            <li><p>Mahmud was the patron of the famous Persian poet, Firdausi, who wrote the epic poem ‘Shah Namah’. Mahmud also sent the Central Asian scholar Alberuni to India, who lived here for many years
            and had written his experience, describing the country and the condition of the people.</p></li>

          </ul>
          <h2> Muhammad Ghori</h2>
          <br>
          <ul>
            <li><p> Muhammad Ghori was the ruler of the Ghor kingdom, a small kingdom of Afghanistan. He was the supreme ruler of Ghurid Empire.</p ></li>
            <img src='/images/ghori.jpg' align='right'>
            <li><p> Ghori was more ambitious than Mahmud, as he was not only interested in robbing wealth of India, but also intended in conquering northern India and adding it to his kingdom.</p></li>
            <li><p> Since Punjab had already been a part of the Ghazni kingdom; therefore, it made easier to Ghori to plan India campaign</p></li>
            <li><p>	Muhammad's most important campaign in India was against the Chauhan ruler, Prithviraj III. In 1191, Prithviraj defeated Ghori; this battle is popularly known as the ‘first battle of Tarain.’</p></li>
            <li><p>	In 1192, Muhammad Ghori defeated Prithviraj in the second battle of Tarin. The defeat of Prithviraj opened the Delhi area to Muhammad and he began to establish his power</p></li>
            <li><p>	In 1206, Ghori was murdered and his kingdom in northern India was left in the control of his general Qutb-ud-din Aibak.</p></li>

          </ul>

      		</article>
    		</section>

    	</section>

		<%include partials/page/footer.ejs %>
    <%include partials/page/navigation-js.ejs %>


</body>
</html>
