<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title><%=title %></title>
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--
afflatus, a free CSS web template by ZyPOP (zypopwebtemplates.com/)

Download: http://zypopwebtemplates.com/

License: Creative Commons Attribution
//-->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body>
    <%include partials/page/header.ejs %>
		<section id="body" class="width clear">
      <% include partials/page/navigation.ejs %>

			<section id="content" class="column-right">


        	    <article>
                  <h2> The Mamluk Dynasty </h2>
                  <p>Mamluk Dynasty(also known as Slave Dynasty) ruled Delhi from 1206-1290.</p>
                  <p>After the death of Muhammad Ghori, since he had no children, his empire got split into minor sultanates led
                  by his former slave(mamluk) generals. These were empires in Ghazni, Sindh, Delhi and Bengal. Qutb-ud-din Aibak
                  became the sultan of Delhi and this was the beginning of Slave Dynasty</p>
                  <p>Some Prominent leaders of Delhi Sultnate were Qutb-ud-din Aibak, Iltutmish, Razia Sultana, Ghiyassudin Balban etc.</p>


              </article>

              <article>
                  <h2> Qutb-ud-din Aibak &nbsp (A.D. 1206-1210) </h2>
                  <ul>
                    <li><p>
                        The first of the slave kings was Qutb-ud-din Aibak, who was the general of Muhammad Ghori.
                        After the death of Ghori, Qutb-ud-din stayed in India and established his kingdom.
                        Qutb-ud-din Aibak was the founder of the Mamluk dynasty and the first sultan of the Delhi Sultanate.
                        He was also known as Lakh baksh
                    </p></li>
                    <li><p>
                      He built the first mosque in India, Quwwat-ul-Islam mosque in Delhi and the Adhai Din Ka Jhonpra in Ajmer.
                       He started the construction of Qutb Minar in memory of sufi saint Qutbuddin Bakhtiar Kaki,
                       which was completed by his successor, Iltutmish after Aibak's death.
                    </p></li>
                    <li><p>Died of a horse fall at Lahore, while playing Chaugan(Polo). He was buried in Lahore near Anarkali Bazaar.
                    </p></li>
                  </ul>
              </article>

              </section>

              </section>

              <%include partials/page/footer.ejs %>
              <%include partials/page/navigation-js.ejs %>
              </body>
              </html>
