<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title><%=title %></title>
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body>
    <%include partials/page/header.ejs %>
		<section id="body" class="width clear">
      <% include partials/page/navigation.ejs %>

			<section id="content" class="column-right">


        	    <article style="padding-bottom: 5px">
                <h2> Iltutmish &nbsp (A.D. 1211 - 1236) </h2></br>
                <p> Shams ud-din Iltutmish was the third ruler of the Delhi Sultanate, belonging to the Mamluk dynasty.
                  Iltutmish consolidated the position of the sultanate in the Indian subcontinent.</p>
                <ul>
                  <li><p>
                      After death of Qutb-ud-din Aibak, Aram Shah (A.D 1210-1211) became the second sultan of Delhi. An elite group of forty nobles named Chihalgani ("the Forty")
                      conspired against Aram Shah and invited Shams-ud-din Iltutmish, then Governor of Badaun, to replace Aram Shah.
                      Iltutmish defeated Aram Shah and became Sultan of Delhi
                  </p></li>
                  <li><p>
                    Shams ud-din Iltutmish strengthened the power of the slave dynasty and of Islam in India
                  </p></li>
                  <li><p>
                    He installed a new nobility of 40 Turkish Nobles called Turkan-i-Chahalgani or Chalisa.
                  <li><p>
                    He divided his land into IQTAS, an assignment of land in lieu of salary, to his officials.
                  </p></li>
                  <li><p>
                    He introduced the silver tinka and copper jital,2 basic coins of Delhi Sultanate.
                  </p></li>
                  <li><p style="margin-bottom: 5px">
                    He is also called as father of tomb building. He built Sultan Garhi, the first Islamic Mauusolem in Delhi. He also completed the construction of Qutub Minar
                    which was started by Aibak.
                  </p></li>
                </ul>


              </article>
              <article>
                <h2>Succession after death of Iltutmish</h2>
              </br>
                <p>In 1236 Iltutmish died, and was buried in the Qutb complex in Mehrauli.
                The death of Iltutmish was followed by years of political instability at Delhi. During this period,
                four descendants of Iltutmish, namely Rukn-ud-din Firuz, Razia Sultana, Muiz ud din Bahram, Ala ud din Masud were put on throne and murdered.</p>

                <ul>
                  <li><p>
                    Iltutmish's eldest son, <span class="underlined">Nasir-ud-din Mahmud</span>,
                    had died in 1229 while governing Bengal as his father's deputy. The surviving sons of the Sultan were incapable
                    of the task of administration.
                    In 1236, Iltutmish, on his death-bed, nominated his daughter Razia as his heiress. But, Razia did not have support
                    of the nobles of the court, who did not want a woman ruler.

                  </p></li>
                  <li><p>
                    Iltutmish's eldest surviving son, <span class="underlined">Rukn-ud-din Firuz</span> was raised to the throne. Firuz left governance
                    in the hands of his mother, <span class="underlined">Shah Turken</span>. Firuz was deposed within six months, and Razia became the ruler.
                  </p></li>
                  <li><p>
                   <span class="underlined">Razia Sultna</span> was the first and last Muslim Woman ruler of India.Razia's growing assertiveness brought her in conflict with the nobles.
                   In 1240, a rebellion led to the replacement of Razia by her brother, <span class="underlined">Muiz ud din Bahram</span>.
                   Bahram ruled for two years before he was overthrown in favour of Firuz's son, <span class="underlined">Ala-ud-din Masud.</span> in 1242.
                  </p></li>
                  <li><p>
                    Order was re-established only after Iltutmish's grandson <span class="underlined">Nasir-ud-din-Mahmud</span> became Sultan with Iltutmish's prominent slave,
                    <span class="underlined">Ghias-ud-din-Balban</span> as his Deputy Sultan (Naib) in 1246. Balban held all the power at the time and became Sultan in 1266.
                  </p></li>

                </ul>

              </article>
              </section>
              </section>

              <%include partials/page/footer.ejs %>
              <%include partials/page/navigation-js.ejs %>
              </body>
              </html>
<!--locally styled: last list item in article1
and article1   -->
