<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title><%=title %></title>
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>

	<%include partials/page/header.ejs %>
	<section id="body" class="width clear">
		<% include partials/page/navigation.ejs %>

		<section id="content" class="column-right">

	  <article>
		<p>Hi I am Neeraj Gulati, the author as well as developer of this site.
			<br>For any queries, suggestions or feedback please mail me at <span class="underlined">beer.ngulati@gmail.com</span> </p>
		</article>
		</section>

	</section>
		<%include partials/page/footer.ejs %>
	  <%include partials/page/navigation-js.ejs %>

</body>
</html>
