<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title><%=title %></title>
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>

	<%include partials/page/header.ejs %>
	<section id="body" class="width clear">
		<% include partials/page/navigation.ejs %>

		<section id="content" class="column-right">

	  <article>
			<div style="text-align: center; color: #0B2F6B"><h1 style="font-size: 4.0em"> studdIndia</h1> </div>
		</br>
		<p>This site is a place to study and know about the Indian history.</p>
		<p>The tutorial on Indian History will be helpful for preparation of various government exams such as IAS, SSC, PCS, NDA, CDS, AFCAT, Banking, Railways etc.</p>


		<p>The content has been designed in tutorial format to help students and government exam aspirants in understanding the Indian History easily.
			The tutorial is based upon content taken from ncert and other popularly available so sources</p>

		<p></p>

		</article>
		</section>

	</section>
		<%include partials/page/footer.ejs %>
	  <%include partials/page/navigation-js.ejs %>

</body>
</html>
