<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title><%=title %></title>
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--
afflatus, a free CSS web template by ZyPOP (zypopwebtemplates.com/)

Download: http://zypopwebtemplates.com/

License: Creative Commons Attribution
//-->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body>
    <%include partials/page/header.ejs %>
		<section id="body" class="width clear">
      <% include partials/page/navigation.ejs %>

			<section id="content" class="column-right">


        	    <article>



              </article>
              </section>

              </section>

              <%include partials/page/footer.ejs %>
              <%include partials/page/navigation-js.ejs %>
              </body>
              </html>
