<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title> afflatus - a free css template</title>
<link rel="stylesheet" href="styles.css" type="text/css" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--
afflatus, a free CSS web template by ZyPOP (zypopwebtemplates.com/)

Download: http://zypopwebtemplates.com/

License: Creative Commons Attribution
//-->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>

		<div id="sitename">
			<div class="width">
				<h1><a href="#"> afflatus </a></h1>

				<nav>
					<ul>
        					<li class="start selected"><a href="index.html">Home</a></li>
        	    				<li class=""><a href="examples.html">Examples</a></li>
         	   				<li><a href="#">Products</a></li>
          	  				<li><a href="#">Solutions</a></li>
          	 				<li class="end"><a href="#">Contact</a></li>
        				</ul>
				</nav>

				<div class="clear"></div>
			</div>
		</div>
		<header>
			<div class="width">
				<h2>Welcome to my website!</h2>
				<div class="tagline">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tristique neque at tellus interdum euismod. Quisque suscipit quam luctus quam elementum a molestie diam sollicitudin. Nam vehicula placerat mi, in mollis elit imperdiet in. Sed volutpat tincidunt sem at auctor</p>
				</div>
			</div>
		</header>
		<section id="body" class="width clear">
			<aside id="sidebar" class="column-left">
				<ul>
                	<li>
						<h4>Navigate</h4>
                        <ul class="blocklist">
                            <li class="selected-item"><a href="index.html">Home</a></li>
                            <li><a href="examples.html">Examples</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Solutions</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>

					</li>
					<li>
						<h4>Links</h4>
						<ul>
							<li><a href="http://www.zypopwebtemplates.com" title="ZyPOP">ZyPOP</a></li>
							<li><a href="http://www.justfreetemplates.com" title="free web templates">Free web templates</a></li>
							<li><a href="http://www.awesomestyles.com/mybb-themes" title="mybb themes">MyBB themes</a></li>
							<li><a href="http://www.awesomestyles.com" title="free phpbb3 themes">phpBB3 styles</a></li>

						</ul>
					</li>
					<li>
						 <h4>Helpful Links</h4>
                    				<ul>
                    					    <li><a href="http://www.themeforest.net/?ref=spykawg" title="premium templates">ThemeForest</a> - Premium HTML web templates from $10</a></li>
                        				<li><a href="http://www.dreamhost.com/r.cgi?259541" title="web hosting">Dreamhost</a> - Cheap web hosting from Dreamhost</a></li>
                      					  <li><a href="http://tuxthemes.com" title="Tux Themes">Tux Themes</a> - Premium Web & WordPress themes</a></li>
                    				</ul>
					</li>
				</ul>
			</aside>
			<section id="content" class="column-right">

	    <article>

			
			<h2>Introduction to afflatus </h2>
			<div class="article-info">Posted on <time datetime="2013-05-14">14 May</time> by <a href="#" rel="author">Joe Bloggs</a></div>

            <p>Welcome to afflatus, a free premium valid CSS3 &amp; HTML5 web template from <a href="http://zypopwebtemplates.com/" title="ZyPOP">ZyPOP</a>. This template is completely <strong>free</strong> to use permitting a link remains back to  <a href="http://zypopwebtemplates.com/" title="ZyPOP">http://zypopwebtemplates.com/</a>. Should you wish to use this template unbranded you can buy a template license from our website for 8.00 GBP, this will allow you remove all branding related to our site, for more information about this see below.</p>

            <p>This template has been tested in:</p>


            <ul class="styledlist">
                <li>Firefox</li>
                <li>Opera</li>
                <li>IE</li>
 		<li>Safari</li>
                <li>Chrome</li>
            </ul>

		<a href="#" class="button">Read more</a>
		<a href="#" class="button button-reversed">Comments</a>



		</article>

		<article class="expanded">

            		<h2>Buy unbranded</h2>
			<div class="article-info">Posted on <time datetime="2013-05-14">14 May</time> by <a href="#" rel="author">Joe Bloggs</a></div>


            <p>Purchasing a template license for 8.00 GBP (at time of writing around 12 USD) gives you the right to remove any branding including links, logos and source tags relating to ZyPOP. As well as waiving the attribution requirement, your payment will also help us provide continued support for users as well as creating new web templates. Find out more about how to buy at the licensing page on our website which can be accessed at <a href="http://zypopwebtemplates.com/licensing" title="template license">http://zypopwebtemplates.com/licensing</a></p>

<h3>Lorem lipsum</h3>

<p>Morbi fermentum condimentum felis, commodo vestibulum sem mattis sed. Aliquam magna ante, mollis vitae tincidunt in, malesuada vitae turpis. Sed aliquam libero ut velit bibendum consectetur. Quisque sagittis, est in laoreet semper, enim dui consequat felis, faucibus ornare urna velit nec leo. Maecenas condimentum velit vitae est lobortis fermentum. In tristique sem vitae metus ornare luctus tempus nisl volutpat. Integer et est id nisi tempus pharetra sagittis et libero.</p>


		<a href="#" class="button">Read more</a>
		<a href="#" class="button button-reversed">Comments</a>
		</article>
		</section>

	</section>

		<footer class="clear">
			<div  class="width">
				<p class="left">&copy; 2014 sitename.</p>
				<p class="right"><a href="http://zypopwebtemplates.com/">Free CSS Templates</a> by ZyPOP</p>
			</div>
		</footer>
</body>
</html>
