<footer class="clear">
  <div  class="width">
    <p class="left">&copy; 2014 sitename.</p>
    <p class="right"><a href="http://zypopwebtemplates.com/">Free CSS Templates</a> by ZyPOP</p>
  </div>
</footer>
