
		<div id="sitename">
			<div class="width">
				<h1><a href="index"> studdIndia </a></h1>

				<nav>
				  <ul>
									<li id="home"><a href="index">Home</a></li>
				          <li id="about"><a href="about">About</a></li>
									<!--<li class="start selected"><a href="index">Home</a></li> -->
									<!--<li><a href="#">Products</a></li>  -->
					</ul>
				</nav>

				<div class="clear"></div>
			</div>
		</div>
		<header>
        <!-- This is blue strip -->
		</header>
