<aside id="sidebar" class="column-left">
  <ul>  <!--ul for first section in navigation-->
      <li>
              <h4>History of Medival India</h4>
              <ul class="blocklist">
                  <li id="nav1"><a href="delhi-intro">Intro to Delhi Sultanate</a></li>
                  <li id="nav2"><a href="invaders">Invaders of Early Medieval Period</a></li>
                  <li id="nav3"><a href="mamluk">Mamluk Dynasty &amp Qutb-ud-din Aibak</a></li>
                  <li id="nav4"><a href="Iltutmish"> &emsp;&emsp; Iltutmish</a></li>
                  
              </ul>
      </li>


  </ul>
</aside>

<!--
Link headings in h4

<ul>
          <li>
    <h4>Navigate</h4>
                <ul class="blocklist">
                    <li class="selected-item"><a href="sultanate=intro">Intro to Delhi Sultanate</a></li>
                    <li><a href="examples.html">Examples</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Solutions</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

  </li>
  <li>
    <h4>Links</h4>
    <ul>
      <li><a href="http://www.zypopwebtemplates.com" title="ZyPOP">ZyPOP</a></li>
      <li><a href="http://www.justfreetemplates.com" title="free web templates">Free web templates</a></li>
      <li><a href="http://www.awesomestyles.com/mybb-themes" title="mybb themes">MyBB themes</a></li>
      <li><a href="http://www.awesomestyles.com" title="free phpbb3 themes">phpBB3 styles</a></li>

    </ul>
  </li>
  <li>
     <h4>Helpful Links</h4>
                    <ul>
                          <li><a href="http://www.themeforest.net/?ref=spykawg" title="premium templates">ThemeForest</a> - Premium HTML web templates from $10</a></li>
                        <li><a href="http://www.dreamhost.com/r.cgi?259541" title="web hosting">Dreamhost</a> - Cheap web hosting from Dreamhost</a></li>
                          <li><a href="http://tuxthemes.com" title="Tux Themes">Tux Themes</a> - Premium Web & WordPress themes</a></li>
                    </ul>
  </li>
</ul>
</aside>




-->
