<script>
//alert("hi");
var nav_id="<%=nav_id %>";
var header_nav_id="<%=header_nav_id %>"
//console.log(header_nav_id);
//console.log(nav_id);
//for sidebar navigation
if(nav_id!=""){
  var nav_element=document.getElementById("<%=nav_id %>");
//  console.log(nav_element.value);
  nav_element.classList.add("selected-item");
  //console.log(nav_element);
}
  //for header navigation
  if(header_nav_id!=""){
  var header_nav_element=document.getElementById("<%=header_nav_id %>")
  header_nav_element.classList.add("selected");
}
</script>
